

      <div *ngIf="!selectedMovie" class="placeholder">
        <span>
          No movie selected.
        </span>
      </div>

      <div *ngIf="selectedMovie" class="movie-description">
        <div class="">
          <h1>
            {{selectedMovie.fields.title || 'loading...'}}
          </h1>
        </div>
        <div class="">
          <p>
          {{selectedMovie.fields.opening_crawl || 'loading...'}}
          </p>
        </div>
        <div class="">
          <p>
          Directed by:
          {{selectedMovie.fields.director || 'loading...'}}
          </p>
        </div>
      </div>
